/* RESET http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "chronicle";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ChronicleTextG1-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/ChronicleTextG1-Roman.woff2") format("woff2"), url("../fonts/ChronicleTextG1-Roman.woff") format("woff"), url("../fonts/ChronicleTextG1-Roman.ttf") format("truetype"), url("../fonts/ChronicleTextG1-Roman.svg#chronicle") format("svg"); }
@font-face {
  font-family: "chronicle";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ChronicleTextG1-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/ChronicleTextG1-Italic.woff2") format("woff2"), url("../fonts/ChronicleTextG1-Italic.woff") format("woff"), url("../fonts/ChronicleTextG1-Italic.ttf") format("truetype"), url("../fonts/ChronicleTextG1-Italic.svg#chronicle") format("svg"); }
@font-face {
  font-family: "chronicle";
  font-style: bold;
  font-weight: 600;
  src: url("../fonts/ChronicleTextG1-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ChronicleTextG1-Bold.woff2") format("woff2"), url("../fonts/ChronicleTextG1-Bold.woff") format("woff"), url("../fonts/ChronicleTextG1-Bold.ttf") format("truetype"), url("../fonts/ChronicleTextG1-Bold.svg#chronicle") format("svg"); }
@font-face {
  font-family: "apex";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ApexNew-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ApexNew-BookItalic.woff2") format("woff2"), url("../fonts/ApexNew-BookItalic.woff") format("woff"), url("../fonts/ApexNew-BookItalic.ttf") format("truetype"), url("../fonts/ApexNew-BookItalic.svg#apex") format("svg"); }
@font-face {
  font-family: "apex";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ApexNew-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/ApexNew-Book.woff2") format("woff2"), url("../fonts/ApexNew-Book.woff") format("woff"), url("../fonts/ApexNew-Book.ttf") format("truetype"), url("../fonts/ApexNew-Book.svg#apex") format("svg"); }
@font-face {
  font-family: "apex";
  font-style: bold;
  font-weight: 600;
  src: url("../fonts/ApexNew-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/ApexNew-Heavy.woff2") format("woff2"), url("../fonts/ApexNew-Heavy.woff") format("woff"), url("../fonts/ApexNew-Heavy.ttf") format("truetype"), url("../fonts/ApexNew-Heavy.svg#apex") format("svg"); }
@font-face {
  font-family: "playfair";
  font-style: bold;
  font-weight: 800;
  src: url("../fonts/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Black.woff") format("woff"), url("../fonts/PlayfairDisplay-Black.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Black.svg#playfair") format("svg"); }
html {
  min-height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: "chronicle", "Georgia", serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  -webkit-font-smoothing: antialiased; }
  body ::selection {
    background: #000000;
    color: #ffffff; }

.mar-top-8 {
  margin-top: 8px; }

.mar-top-16 {
  margin-top: 16px; }

.mar-top-24 {
  margin-top: 24px; }

.mar-top-48 {
  margin-top: 48px; }

.mar-bot-8 {
  margin-bottom: 8px; }

.mar-bot-16 {
  margin-bottom: 16px; }

.mar-bot-24 {
  margin-bottom: 24px; }

.mar-bot-48 {
  margin-bottom: 48px; }

.pad {
  padding: 32px;
  box-sizing: border-box; }

.title-1 {
  font-family: "playfair", "Georgia", serif;
  font-size: 40px;
  line-height: 35px; }
  @media (min-width: 1000px) {
    .title-1 {
      font-size: 100px;
      line-height: 98px; } }

.title-2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px; }
  .title-2.mar-top {
    margin-top: 24px; }

.title-3 {
  font-weight: 600;
  font-size: 19px; }

.title-4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #f26122; }

.regular {
  font-size: 18px;
  line-height: 26px; }
  @media (min-width: 1000px) {
    .regular {
      font-size: 18px;
      line-height: 24px; } }
  .regular.mar-top {
    margin-top: 24px; }
    @media (min-width: 1000px) {
      .regular.mar-top {
        margin-top: 12px; } }
  .regular .drop-1 {
    font-size: 118px;
    line-height: 0.8;
    font-family: "playfair", "Georgia", serif;
    float: left;
    padding: 0 2px 0 0; }
    @media (min-width: 1000px) {
      .regular .drop-1 {
        font-size: 110px;
        line-height: 0.8; } }

.bold {
  font-weight: 600; }

.italic {
  font-style: italic; }

.large {
  font-family: "playfair", "Georgia", serif;
  font-size: 36px;
  line-height: 38px; }
  @media (min-width: 1000px) {
    .large {
      font-size: 64px;
      line-height: 66px; } }
  .large .hang {
    margin-left: -18px; }
    @media (min-width: 1000px) {
      .large .hang {
        margin-left: -32px; } }

.sans {
  font-size: 16px;
  line-height: 24px;
  font-family: "apex", "Helvetica", "Roboto", "Arial", sans-serif; }
  @media (min-width: 1000px) {
    .sans {
      font-size: 16px;
      line-height: 23px; } }
  .sans.small {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px; }
  .sans.mar-top {
    margin-top: 24px; }
    @media (min-width: 1000px) {
      .sans.mar-top {
        margin-top: 10px; } }
  .sans.gray {
    color: #8E8B86; }
  .sans .drop {
    line-height: 0.6;
    font-size: 78px;
    font-weight: 600;
    float: left;
    padding: 20px 2px 0 0; }
    @media (min-width: 1000px) {
      .sans .drop {
        font-size: 101px;
        line-height: 0.7;
        padding-top: 22px; } }

.subhead {
  max-width: 400px;
  font-size: 16px;
  line-height: 23px; }
  @media (min-width: 1000px) {
    .subhead {
      font-size: 18px; } }

header {
  height: 76px;
  position: fixed;
  z-index: 50;
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  top: 0;
  transition: all 0.1s ease-in;
  overflow: visible; }
  @media (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between; } }
  header .logo {
    position: absolute;
    left: 32px;
    top: 28px;
    transition: all 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    opacity: 1; }
    @media (min-width: 1000px) {
      header .logo {
        left: 24px;
        transform: none;
        position: relative; } }
    header .logo img {
      height: 20px; }
    header .logo a {
      display: inline-block; }
  header .menu-icon {
    position: absolute;
    z-index: 50;
    top: 32px;
    right: 32px;
    height: 11px;
    width: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden; }
    @media (min-width: 1000px) {
      header .menu-icon {
        display: none; } }
    header .menu-icon .bar {
      height: 1px;
      width: 18px;
      background-color: #000000;
      opacity: 1;
      transition: all 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      margin-top: 0; }
      header .menu-icon .bar.middle {
        opacity: 1; }
  header .menu {
    width: 100%;
    height: 100vh;
    transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.3s;
    transform: translateX(100vw);
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #000000;
    z-index: 20;
    position: fixed; }
    @media (min-width: 1000px) {
      header .menu {
        transform: translateX(0vw);
        height: 76px;
        margin-top: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        background: #ffffff;
        position: relative; } }
    header .menu li {
      opacity: 0;
      padding: 24px;
      box-sixing: border-box;
      transition: opacity 0.3s ease-in;
      font-size: 13px;
      line-height: 13px;
      font-weight: 600;
      letter-spacing: 1.5px;
      text-align: center;
      font-family: "apex", "Helvetica", "Roboto", "Arial", sans-serif;
      text-transform: uppercase; }
      @media (min-width: 1000px) {
        header .menu li {
          opacity: 1;
          padding: 0;
          margin-left: 48px; }
          header .menu li:first-child {
            margin-left: 0; } }
      header .menu li a {
        color: #ffffff;
        transition: all 0.3s ease;
        display: inline-block;
        width: 100%;
        text-decoration: none; }
        header .menu li a:hover {
          color: #000000; }
        @media (min-width: 1000px) {
          header .menu li a {
            margin-top: 2px;
            color: #000000; } }
  header.menu-opened .menu-icon {
    height: 18px;
    top: 29px;
    right: 32px;
    transform: rotate(90deg);
    position: fixed; }
    header.menu-opened .menu-icon .bar {
      background-color: #ffffff;
      transition-delay: 0.2s;
      margin-top: 0; }
      header.menu-opened .menu-icon .bar.top {
        transform: translateY(8px) rotate(45deg);
        margin-top: 0; }
      header.menu-opened .menu-icon .bar.middle {
        opacity: 0;
        height: 0; }
      header.menu-opened .menu-icon .bar.bottom {
        transform: translateY(-9px) rotate(-45deg); }
  header.menu-opened .menu {
    transform: translateX(0); }
    header.menu-opened .menu li {
      opacity: 1;
      transition-delay: 0.7s; }
  header .issue {
    display: none; }
    @media (min-width: 1000px) {
      header .issue {
        display: flex;
        align-items: center;
        margin-right: 32px;
        font-family: "apex", "Helvetica", "Roboto", "Arial", sans-serif;
        font-size: 14px;
        color: #8E8B86;
        letter-spacing: 0.5px;
        font-weight: 600; } }

.top {
  margin-top: 76px; }

.rule-1 {
  background: #000000;
  height: 18px;
  margin-bottom: 16px; }

.rule-2 {
  background: #000000;
  height: 1px;
  margin-bottom: 16px; }

.caption {
  display: flex;
  padding: 16px;
  box-sizing: border-box; }
  @media (min-width: 1000px) {
    .caption {
      align-items: center;
      width: 100%; } }
  .caption .image {
    height: 10px;
    width: 10px;
    margin-right: 8px; }
    .caption .image img {
      height: 100%;
      width: auto; }
  @media (min-width: 1000px) {
    .caption .text {
      display: flex;
      align-items: center;
      padding-top: 4px;
      box-sizing: border-box;
      width: 100%;
      justify-content: space-between; } }
  .caption .text .sans {
    line-height: 14px; }
  .caption .text .photo {
    text-transform: uppercase;
    color: #8E8B86;
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px; }
    @media (min-width: 1000px) {
      .caption .text .photo {
        margin-top: 2px;
        margin-left: 16px; } }

.section {
  padding: 32px;
  box-sizing: border-box; }
  @media (min-width: 1000px) {
    .section {
      padding: 80px 120px; } }
  .section.last {
    margin-bottom: 0; }
  .section.center {
    position: relative; }
    @media (min-width: 1000px) {
      .section.center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; } }
    .section.center .text {
      max-width: 645px; }
    .section.center .pull-quote {
      max-width: 1400px;
      padding: 48px 0; }
      @media (min-width: 1000px) {
        .section.center .pull-quote {
          padding: 64px 0; }
          .section.center .pull-quote.middle {
            margin-bottom: 80px; } }
      .section.center .pull-quote.last {
        padding-bottom: 0; }
    .section.center .inline-image {
      margin-top: 32px; }
      .section.center .inline-image .image {
        max-width: 645px; }
        .section.center .inline-image .image img {
          width: 100%; }
      .section.center .inline-image .caption .caption-image {
        height: 10px;
        display: flex;
        margin-right: 8px; }
        .section.center .inline-image .caption .caption-image img {
          height: 100%;
          width: auto; }
      .section.center .inline-image .caption .text {
        max-width: none; }
      .section.center .inline-image.wide .image {
        max-width: 1400px; }
  .section.image-row {
    padding: 0;
    line-height: 0; }
    @media (min-width: 1000px) {
      .section.image-row .images {
        display: flex; } }
    @media (min-width: 1000px) {
      .section.image-row .images .image {
        flex: 1; } }
    .section.image-row .images .image img {
      width: 100%; }
  .section.full-width-image {
    padding: 0; }
    .section.full-width-image .image {
      width: 100%;
      line-height: 0; }
      .section.full-width-image .image img {
        width: 100%;
        line-height: 0; }
    .section.full-width-image .caption .caption-image {
      height: 10px;
      display: flex;
      margin-right: 8px; }
      .section.full-width-image .caption .caption-image img {
        height: 100%; }
    .section.full-width-image.top {
      margin-bottom: 0; }
  .section.image-text {
    padding: 0; }
    @media (min-width: 1000px) {
      .section.image-text {
        display: flex; } }
    .section.image-text .image {
      flex: 2; }
      .section.image-text .image img {
        width: 100%; }
    .section.image-text .text {
      padding: 16px;
      box-sizing: border-box; }
      @media (min-width: 1000px) {
        .section.image-text .text {
          width: 300px;
          padding-top: 0; } }
  @media (min-width: 1000px) {
    .section.aside {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse; } }
  @media (min-width: 1600px) {
    .section.aside {
      justify-content: center; } }
  .section.aside .side-column {
    margin-top: 32px;
    border-left: 18px solid #000000;
    padding-left: 32px;
    box-sizing: border-box; }
    @media (min-width: 1000px) {
      .section.aside .side-column {
        width: 360px;
        margin-top: 80px;
        border: none; } }
    @media (min-width: 1600px) {
      .section.aside .side-column {
        margin-right: 100px; } }
  .section.aside.reverse {
    flex-direction: row; }
    .section.aside.reverse .side-column {
      padding: 0 0 0 32px;
      box-sizing: border-box; }
      @media (min-width: 1000px) {
        .section.aside.reverse .side-column {
          padding: 0 32px 0 0;
          border-left: none;
          border-right: 18px solid #000000;
          width: 360px;
          margin-top: 80px;
          border: none; } }
      @media (min-width: 1600px) {
        .section.aside.reverse .side-column {
          margin-left: 100px; } }
  @media (min-width: 1000px) {
    .section.aside .text-container {
      padding: 80px;
      box-sizing: border-box; } }
  @media (min-width: 1000px) {
    .section.aside .text-container .text {
      flex: 2;
      width: 100%;
      max-width: 645px; } }
  .section.aside .text-container .inline-image {
    margin-top: 32px; }
    @media (min-width: 1000px) {
      .section.aside .text-container .inline-image {
        margin-top: 48px; } }
    .section.aside .text-container .inline-image .image {
      max-width: 645px; }
      .section.aside .text-container .inline-image .image img {
        width: 100%; }
    .section.aside .text-container .inline-image .text {
      padding-top: 16px;
      box-sizing: border-box;
      max-width: 500px; }

.mars-intro {
  background: #161418;
  color: #ffffff; }
  .mars-intro .image {
    background: url("/villanova/assets/imgs/mars/mars-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative; }
    @media (min-width: 1000px) {
      .mars-intro .image {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center; } }
    .mars-intro .image .gradient {
      background: linear-gradient(to bottom, rgba(22, 20, 24, 0) 0%, #161418 100%);
      bottom: 0;
      height: 50%;
      width: 100%;
      position: absolute;
      z-index: 5; }
    .mars-intro .image .planet {
      width: 500px;
      position: absolute;
      right: -200px; }
      @media (min-width: 1000px) {
        .mars-intro .image .planet {
          right: inherit;
          width: 1000px; } }
      .mars-intro .image .planet img {
        width: 100%;
        height: auto;
        animation: rotation 100s infinite linear;
        -webkit-animation: rotation 100s infinite linear; }
  .mars-intro .text-container {
    padding: 32px;
    box-sizing: border-box;
    z-index: 10;
    position: relative; }
    @media (min-width: 1000px) {
      .mars-intro .text-container {
        padding: 100px; } }
    .mars-intro .text-container .text {
      margin-top: -100px;
      z-index: 10;
      position: relative;
      max-width: 645px; }
      @media (min-width: 1000px) {
        .mars-intro .text-container .text {
          margin-top: -70vh; } }
      .mars-intro .text-container .text .drop-1 {
        padding-right: 4px; }
        @media (min-width: 1000px) {
          .mars-intro .text-container .text .drop-1 {
            font-size: 124px; } }
      .mars-intro .text-container .text .title-container {
        margin-bottom: 48px; }
        @media (min-width: 1000px) {
          .mars-intro .text-container .text .title-container .subhead {
            margin-top: 48px; } }

.mars-alumni {
  background: #E1F2FC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1000px) {
    .mars-alumni {
      padding-bottom: 120px; } }
  .mars-alumni .intro-text {
    max-width: 645px; }
    .mars-alumni .intro-text .drop {
      padding-top: 22px; }
      @media (min-width: 1000px) {
        .mars-alumni .intro-text .drop {
          padding-top: 24px; } }
  @media (min-width: 1000px) {
    .mars-alumni .alumni-grid {
      display: flex;
      margin-top: 48px; } }
  .mars-alumni .alumni-grid .alumni {
    margin-top: 32px;
    border-left: 1px solid #000000;
    padding-left: 32px; }
    @media (min-width: 1000px) {
      .mars-alumni .alumni-grid .alumni {
        padding: 0 32px;
        box-sizing: border-box; } }

.francis-intro {
  background-color: #000000;
  color: #ffffff; }
  @media (min-width: 1000px) {
    .francis-intro {
      display: flex;
      flex-direction: row-reverse;
      height: calc(100vh - 76px); } }
  .francis-intro .text {
    padding: 32px;
    box-sizing: border-box;
    z-index: 10;
    position: relative; }
    @media (min-width: 1000px) {
      .francis-intro .text {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw; } }
  @media (min-width: 1000px) {
    .francis-intro .image {
      height: calc(100vh - 76px);
      width: 100%;
      overflow: hidden; } }
  .francis-intro .image img {
    width: 100%; }
    @media (min-width: 1000px) {
      .francis-intro .image img {
        object-fit: cover;
        width: 60%;
        min-height: 100%; } }

.francis-twitter.aside {
  background: #FFFBEF; }
  .francis-twitter.aside .side-column {
    border-left: 1px solid #000000; }
    @media (min-width: 1000px) {
      .francis-twitter.aside .side-column {
        margin-bottom: 80px;
        width: 400px;
        border-right: 1px solid #000000;
        border-left: none;
        padding-right: 32px; } }
  .francis-twitter.aside .tweet {
    margin-top: 24px; }
    .francis-twitter.aside .tweet .small {
      color: #8E8B86;
      font-weight: 600;
      letter-spacing: 1px; }
    .francis-twitter.aside .tweet .tweet-text {
      color: #5091cd;
      font-size: 18px;
      line-height: 32px; }

.francis-welcome {
  background: #FFFBEF; }
  .francis-welcome .inline-image .caption .photo {
    margin-left: 0; }
  .francis-welcome .rule-2 {
    margin-top: 48px; }
    @media (min-width: 1000px) {
      .francis-welcome .rule-2 {
        margin-top: 80px; } }

.service-intro {
  background-color: #FFDF00; }
  @media (min-width: 1000px) {
    .service-intro {
      display: flex;
      flex-direction: row-reverse;
      height: 100vh;
      overflow: hidden;
      position: relative; } }
  .service-intro .text {
    padding: 32px;
    box-sizing: border-box;
    z-index: 10;
    position: relative; }
    @media (min-width: 1000px) {
      .service-intro .text {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 0; } }
    .service-intro .text .all {
      font-size: 200px; }
      @media (min-width: 1000px) {
        .service-intro .text .all {
          font-size: 300px;
          margin-left: -100px; } }
  @media (min-width: 1000px) {
    .service-intro .image {
      height: calc(100vh - 76px);
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: flex-end; } }
  .service-intro .image img {
    width: 100%; }
    .service-intro .image img.desktop {
      display: none; }
      @media (min-width: 1000px) {
        .service-intro .image img.desktop {
          display: inherit; } }
    @media (min-width: 1000px) {
      .service-intro .image img.mobile {
        display: none; } }

.service-outro {
  background: #FFDF00; }
  @media (min-width: 1000px) {
    .service-outro {
      display: flex;
      flex-direction: row; } }
  @media (min-width: 1000px) {
    .service-outro .text {
      width: 50%;
      padding: 32px;
      box-sizing: border-box; } }
  .service-outro .text:nth-child(2) {
    margin-top: 80px; }
    @media (min-width: 1000px) {
      .service-outro .text:nth-child(2) {
        margin-top: 0; } }

@media (min-width: 1000px) {
  .dean-gabriele-intro {
    display: flex;
    height: 100vh; } }
.dean-gabriele-intro .text {
  padding: 32px;
  box-sizing: border-box;
  z-index: 10;
  position: relative; }
  @media (min-width: 1000px) {
    .dean-gabriele-intro .text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50vw;
      padding-right: 0; } }
  .dean-gabriele-intro .text .text-container {
    max-width: 700px; }
@media (min-width: 1000px) {
  .dean-gabriele-intro .dean-gabriele-image {
    height: 100vh;
    width: 50%;
    overflow: hidden;
    margin-top: 76px; }
    .dean-gabriele-intro .dean-gabriele-image.stick {
      position: fixed;
      top: 0;
      right: 0; } }
.dean-gabriele-intro .dean-gabriele-image img {
  width: 100%; }
  @media (min-width: 1000px) {
    .dean-gabriele-intro .dean-gabriele-image img {
      object-fit: cover;
      min-height: 100%; } }

@media (min-width: 1000px) {
  .dean-gabriele-text {
    width: 50%; } }
.dean-gabriele-text .title-2 {
  margin-top: 24px; }
.dean-gabriele-text .pull-quote {
  max-width: 1400px;
  padding: 48px 0; }
  @media (min-width: 1000px) {
    .dean-gabriele-text .pull-quote {
      padding: 64px 0; }
      .dean-gabriele-text .pull-quote.middle {
        margin-bottom: 80px; } }
  .dean-gabriele-text .pull-quote.last {
    padding-bottom: 0; }

.art-intro {
  height: 500px;
  background: #000000;
  color: #ffffff;
  overflow: hidden;
  position: relative; }
  @media (min-width: 1000px) {
    .art-intro {
      height: calc(100vh - 76px); } }
  .art-intro .image {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
    .art-intro .image img {
      min-height: 100%;
      width: 100%;
      object-fit: cover; }
  .art-intro .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 32px;
    box-sizing: border-box; }
    @media (min-width: 1000px) {
      .art-intro .text {
        padding-left: 25vw; } }

@media (min-width: 1000px) {
  .windows {
    display: flex; } }
.windows .window-1, .windows .window-2 {
  line-height: 0;
  position: relative;
  background: #000000;
  padding-top: 24px; }
  @media (min-width: 1000px) {
    .windows .window-1, .windows .window-2 {
      padding-top: 0;
      width: 50%; } }
  .windows .window-1 .tooltip, .windows .window-2 .tooltip {
    background-color: rgba(255, 255, 255, 0.8);
    height: 36px;
    width: 36px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "apex", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
    transition: all 0.3s ease; }
    @media (min-width: 1000px) {
      .windows .window-1 .tooltip:hover, .windows .window-2 .tooltip:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: #ffffff; } }
  .windows .window-1 .title-3, .windows .window-2 .title-3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    color: #ffffff;
    line-height: 16px;
    font-size: 14px;
    font-family: "apex", "Helvetica", "Roboto", "Arial", sans-serif;
    text-transform: uppercase;
    text-align: center; }
    @media (min-width: 1000px) {
      .windows .window-1 .title-3, .windows .window-2 .title-3 {
        padding-top: 40px; } }
  .windows .window-1 img, .windows .window-2 img {
    width: 100%;
    line-height: 0; }
.windows .window-1 .tip-1 {
  left: 30%;
  top: 20%; }
.windows .window-1 .tip-2 {
  left: 10%;
  top: 40%; }
.windows .window-1 .tip-3 {
  left: 30%;
  top: 32%; }
.windows .window-1 .tip-4 {
  left: 50%;
  top: 32%; }
.windows .window-1 .tip-5 {
  left: 70%;
  top: 50%; }
.windows .window-1 .tip-6 {
  left: 70%;
  top: 60%; }
.windows .window-1 .tip-7 {
  left: 70%;
  top: 80%; }
.windows .window-1 .tip-8 {
  left: 20%;
  top: 70%; }
.windows .window-2 .tip-1 {
  left: 30%;
  top: 20%; }
.windows .window-2 .tip-2 {
  left: 10%;
  top: 32%; }
.windows .window-2 .tip-3 {
  left: 30%;
  top: 32%; }
.windows .window-2 .tip-4 {
  left: 50%;
  top: 32%; }
.windows .window-2 .tip-5 {
  left: 70%;
  top: 32%; }
.windows .window-2 .tip-6 {
  left: 40%;
  top: 60%; }
.windows .window-2 .tip-7 {
  left: 50%;
  top: 55%; }
.windows .window-2 .tip-8 {
  left: 80%;
  top: 60%; }
.windows .window-2 .tip-9 {
  left: 20%;
  top: 60%; }
.windows .window-2 .tip-10 {
  left: 80%;
  top: 70%; }
.windows .window-2 .tip-11 {
  left: 12%;
  top: 80%; }

.art-new-light {
  background: #000000;
  color: #ffffff;
  padding: 32px;
  box-sizing: border-box; }
  @media (min-width: 1000px) {
    .art-new-light {
      display: flex; } }
  .art-new-light .title-2 {
    margin-bottom: 48px; }
  .art-new-light .column-1, .art-new-light .column-2, .art-new-light .column-3 {
    margin-bottom: 24px; }
  @media (min-width: 1000px) {
    .art-new-light .intro, .art-new-light .column-1, .art-new-light .column-2, .art-new-light .column-3, .art-new-light .column-4 {
      width: 20%;
      padding: 24px;
      border-left: 1px solid #ffffff;
      box-sizing: border-box; } }
  .art-new-light .intro {
    margin-bottom: 24px; }
    @media (min-width: 1000px) {
      .art-new-light .intro {
        border-left: none; } }

.cover-story {
  position: relative;
  background: #000000; }
  .cover-story a {
    display: block;
    text-decoration: none; }
    .cover-story a:hover img {
      transition: 0.8s all ease;
      transform: scale(1.05); }
  .cover-story .image {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    @media (min-width: 1000px) {
      .cover-story .image {
        height: 80vh; } }
    .cover-story .image img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      transition: 0.8s all ease; }
  .cover-story .text {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); }
    @media (min-width: 1000px) {
      .cover-story .text {
        padding: 80px;
        justify-content: center; } }
    @media (min-width: 1600px) {
      .cover-story .text {
        padding: 200px; } }
    .cover-story .text .sans {
      max-width: 400px; }

.page-title {
  padding: 32px;
  box-sizing: border-box; }
  @media (min-width: 1000px) {
    .page-title {
      padding: 80px; } }
  @media (min-width: 1600px) {
    .page-title {
      display: flex;
      justify-content: center; }
      .page-title h1 {
        width: 100%;
        max-width: 1400px;
        padding-left: 80px;
        box-sizing: border-box; } }

@media (min-width: 1600px) {
  .story-grid {
    display: flex;
    justify-content: center; } }
.story-grid .grid-container {
  padding: 32px;
  box-sizing: border-box; }
  @media (min-width: 1000px) {
    .story-grid .grid-container {
      display: flex;
      flex-wrap: wrap;
      padding: 80px;
      box-sizing: border-box; } }
  @media (min-width: 1600px) {
    .story-grid .grid-container {
      max-width: 1400px; } }
  .story-grid .grid-container .grid-item {
    box-sizing: border-box;
    margin-bottom: 32px;
    border-bottom: 1px solid #000000; }
    @media (min-width: 1000px) {
      .story-grid .grid-container .grid-item {
        margin: 0;
        padding: 0 24px 24px 24px;
        width: 33.333%;
        min-height: 200px;
        border-left: 1px solid #000000;
        border-bottom: none;
        margin-bottom: 48px; }
        .story-grid .grid-container .grid-item.first {
          border-left: none; }
        .story-grid .grid-container .grid-item.last {
          padding-right: 0; } }
    .story-grid .grid-container .grid-item:last-child {
      margin-bottom: 0; }
      @media (min-width: 1000px) {
        .story-grid .grid-container .grid-item:last-child {
          margin-bottom: 48px; } }
    .story-grid .grid-container .grid-item a {
      display: block;
      text-decoration: none; }
      .story-grid .grid-container .grid-item a:hover img {
        transition: 0.8s all ease;
        transform: scale(1.05); }
    .story-grid .grid-container .grid-item .image {
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 32px; }
      @media (min-width: 1000px) {
        .story-grid .grid-container .grid-item .image {
          height: 250px; } }
      .story-grid .grid-container .grid-item .image img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        transition: 0.8s all ease; }
    .story-grid .grid-container .grid-item .text {
      color: #000000;
      padding-bottom: 32px; }
    @media (min-width: 1000px) {
      .story-grid .grid-container .grid-item.half .image {
        height: 300px; } }
    @media (min-width: 1000px) {
      .story-grid .grid-container .grid-item.half {
        width: 50%; } }
    @media (min-width: 1000px) {
      .story-grid .grid-container .grid-item.highlight.me-too .text {
        background: #E1F2FC;
        color: #000000; } }
    @media (min-width: 1000px) {
      .story-grid .grid-container .grid-item.highlight {
        width: 100%;
        border-left: none;
        padding: 0;
        height: 500px; }
        .story-grid .grid-container .grid-item.highlight a {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          height: 500px; }
        .story-grid .grid-container .grid-item.highlight .image {
          width: 60%;
          height: 500px;
          background: #E1F2FC;
          margin-bottom: 0; }
          .story-grid .grid-container .grid-item.highlight .image img {
            min-height: initial;
            height: 100%;
            width: initial; }
        .story-grid .grid-container .grid-item.highlight .text {
          padding: 48px;
          box-sizing: border-box;
          background: #000000;
          height: 100%;
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: #ffffff; } }

.shorts {
  background: #FFFBEF; }
  @media (min-width: 1600px) {
    .shorts {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; } }
  .shorts .shorts-title {
    padding: 32px;
    box-sizing: border-box; }
    @media (min-width: 1000px) {
      .shorts .shorts-title {
        padding: 80px;
        width: 100%;
        box-sizing: border-box; } }
    @media (min-width: 1600px) {
      .shorts .shorts-title {
        max-width: 1400px; } }
  .shorts .shorts-grid {
    padding: 32px;
    box-sizing: border-box; }
    @media (min-width: 1000px) {
      .shorts .shorts-grid {
        display: flex;
        flex-wrap: wrap;
        padding: 80px;
        padding-top: 0; } }
    @media (min-width: 1600px) {
      .shorts .shorts-grid {
        max-width: 1400px; } }
    @media (min-width: 1000px) {
      .shorts .shorts-grid .column-1, .shorts .shorts-grid .column-2, .shorts .shorts-grid .column-3, .shorts .shorts-grid .column-4 {
        width: 25%; } }
    .shorts .shorts-grid .shorts-grid-item {
      box-sizing: border-box;
      margin-bottom: 48px; }
      @media (min-width: 1000px) {
        .shorts .shorts-grid .shorts-grid-item {
          margin: 0;
          padding: 0 32px 32px 0;
          min-height: 200px; } }
      .shorts .shorts-grid .shorts-grid-item .rule {
        width: 100%;
        background: #000000;
        height: 8px;
        margin-bottom: 8px; }
      .shorts .shorts-grid .shorts-grid-item .image {
        margin-bottom: 8px; }
        .shorts .shorts-grid .shorts-grid-item .image img {
          width: 100%; }

.article-title {
  width: 100%;
  max-width: 1400px; }

.article-text {
  margin-top: 32px; }
  @media (min-width: 1000px) {
    .article-text {
      display: flex;
      max-width: 1000px; } }
  .article-text .article-main {
    margin-bottom: 48px; }
    @media (min-width: 1000px) {
      .article-text .article-main {
        width: 75%;
        padding-right: 32px;
        box-sizing: border-box; } }
    .article-text .article-main .title-1 {
      max-width: none; }
    .article-text .article-main .title-2 {
      margin-top: 48px; }
    .article-text .article-main .stats {
      margin-top: 48px; }
      .article-text .article-main .stats .large {
        font-family: "chronicle", "Georgia", serif; }
      .article-text .article-main .stats .stat {
        margin-top: 48px; }
      .article-text .article-main .stats .number {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: -2px; }
        @media (min-width: 1000px) {
          .article-text .article-main .stats .number {
            font-size: 76px; } }
  @media (min-width: 1000px) {
    .article-text .article-aside {
      width: 25%; } }
  .article-text .article-aside .article-aside-image {
    width: 100%; }
    .article-text .article-aside .article-aside-image img {
      width: 100%; }
  @media (min-width: 1000px) {
    .article-text .article-aside .article-quote {
      text-align: center; }
      .article-text .article-aside .article-quote .regular {
        font-size: 18px;
        line-height: 20px;
        margin-top: 8px; } }
  .article-text .article-aside .article-quote .big-quote {
    font-size: 48px; }
    @media (min-width: 1000px) {
      .article-text .article-aside .article-quote .big-quote {
        font-size: 100px; } }
  .article-text .article-aside .article-quote .rule-2 {
    margin-top: 16px; }

.class-notes {
  padding: 32px 32px 0 32px;
  box-sizing: border-box; }
  .class-notes .title-1 {
    margin-bottom: 48px; }
    @media (min-width: 1000px) {
      .class-notes .title-1 {
        padding: 100px 0;
        margin-bottom: 80px; } }
  .class-notes .decade {
    border-left: 1px solid #000000;
    padding: 32px 0 32px 32px;
    box-sizing: border-box; }
    @media (min-width: 1000px) {
      .class-notes .decade {
        display: flex;
        margin-bottom: 0;
        border-left: none;
        padding: 0 32px 0 48px; } }
    .class-notes .decade.first {
      padding-top: 0; }
    .class-notes .decade .decade-title {
      padding-bottom: 24px;
      margin-bottom: 24px;
      box-sizing: border-box;
      line-height: 1; }
      @media (min-width: 1000px) {
        .class-notes .decade .decade-title {
          border: none;
          padding-right: 48px;
          width: 400px;
          padding-top: 100px;
          margin-bottom: 0; }
          .class-notes .decade .decade-title.first {
            padding-top: 0; } }
    @media (min-width: 1000px) {
      .class-notes .decade .notes {
        flex: 2;
        padding-top: 100px;
        max-width: 900px;
        border-left: 1px solid #000000; }
        .class-notes .decade .notes.first {
          padding-top: 0; } }
    .class-notes .decade .notes .year {
      margin-bottom: 32px; }
      @media (min-width: 1000px) {
        .class-notes .decade .notes .year {
          padding: 0 48px 48px 48px;
          box-sizing: border-box; } }
      .class-notes .decade .notes .year:last-child {
        margin-bottom: 0;
        padding-bottom: 0; }
      .class-notes .decade .notes .year .title-3 {
        color: #5091cd; }
    @media (min-width: 1000px) {
      .class-notes .decade .notes .highlight {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 48px;
        box-sizing: border-box; } }
    .class-notes .decade .notes .highlight .rule-1 {
      background-color: #5091cd;
      max-width: 200px; }
    .class-notes .decade .notes .highlight .text {
      color: #5091cd;
      margin-bottom: 24px; }
      @media (min-width: 1000px) {
        .class-notes .decade .notes .highlight .text {
          width: 50%;
          padding-left: 32px;
          box-sizing: border-box; } }
    .class-notes .decade .notes .highlight .image {
      width: 100%; }
      @media (min-width: 1000px) {
        .class-notes .decade .notes .highlight .image {
          width: 50%; } }
      .class-notes .decade .notes .highlight .image img {
        width: 100%; }

.in-memoriam {
  padding: 64px 32px 0 32px;
  box-sizing: border-box;
  background: #EFEEEA; }
  .in-memoriam .title-1 {
    margin-bottom: 48px; }
    @media (min-width: 1000px) {
      .in-memoriam .title-1 {
        padding: 100px 0;
        margin-bottom: 80px; } }
  .in-memoriam .decade {
    padding: 32px;
    box-sizing: border-box;
    border-left: 1px solid #000000; }
    @media (min-width: 1000px) {
      .in-memoriam .decade {
        margin-left: 100px; } }
    .in-memoriam .decade.first {
      padding-top: 0; }
    @media (min-width: 1000px) {
      .in-memoriam .decade .title-2 {
        margin: 24px; } }
    @media (min-width: 1000px) {
      .in-memoriam .decade .grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px; } }
    .in-memoriam .decade .grid .grid-item {
      margin-bottom: 24px; }
      @media (min-width: 1000px) {
        .in-memoriam .decade .grid .grid-item {
          padding: 24px;
          box-sizing: border-box;
          width: 25%;
          max-width: none;
          margin-bottom: 0; } }

footer {
  background: #000000;
  padding: 32px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-family: "apex", "Helvetica", "Roboto", "Arial", sans-serif;
  z-index: 10;
  position: relative; }
  @media (min-width: 1000px) {
    footer {
      display: flex;
      padding: 76px; } }
  footer a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block; }
  footer .links {
    margin-bottom: 48px;
    text-transform: uppercase;
    font-weight: 600; }
    @media (min-width: 1000px) {
      footer .links {
        width: 25%;
        box-sizing: border-box;
        margin-bottom: 0; } }
    footer .links .logo {
      margin-bottom: 24px; }
    footer .links ul li {
      margin-bottom: 24px;
      letter-spacing: 1px; }
  footer .credits {
    margin-bottom: 48px; }
    @media (min-width: 1000px) {
      footer .credits {
        width: 25%;
        padding: 0 32px;
        box-sizing: border-box;
        margin-bottom: 0;
        border-left: 1px solid #ffffff; } }
    footer .credits .credit {
      margin-bottom: 32px; }
      footer .credits .credit:last-child {
        margin-bottom: 0; }
  footer .title {
    font-weight: 600;
    letter-spacing: 1px;
    color: #EBE4C1;
    text-transform: uppercase;
    margin-bottom: 2px; }
  @media (min-width: 1000px) {
    footer .contact {
      width: 50%;
      padding: 0 0 0 32px;
      box-sizing: border-box;
      height: 352px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1px solid #ffffff; } }
  footer .contact .mail {
    margin-bottom: 48px; }
    @media (min-width: 1600px) {
      footer .contact .mail {
        max-width: 700px; } }
  @media (min-width: 1000px) {
    footer .social {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; } }
  footer .social .logo {
    width: 200px;
    margin-bottom: 24px; }
    @media (min-width: 1000px) {
      footer .social .logo {
        margin-bottom: 0; } }
    footer .social .logo img {
      width: 100%; }
  footer .social .social-icons {
    display: flex; }
    @media (min-width: 1000px) {
      footer .social .social-icons {
        margin-bottom: -12px; } }
    footer .social .social-icons .icon {
      margin-right: 16px; }
      footer .social .social-icons .icon:last-child {
        margin-right: 0; }

.tooltipster-sidetip.tooltipster-shadow.tooltipster-customized .tooltipster-box {
  background: #ffffff;
  border-radius: 0; }

.tooltipster-sidetip.tooltipster-shadow.tooltipster-customized .tooltipster-content {
  color: #000000;
  font-family: "apex", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  padding: 8px; }

.rotate {
  animation: rotation 100s infinite linear;
  -webkit-animation: rotation 100s infinite linear; }

.animate-fade {
  opacity: 0;
  transition: all 1s ease 0.5s; }
  .animate-fade.delay-none {
    transition-delay: 0s; }
  .animate-fade.delay-1 {
    transition-delay: 0.5s; }
  .animate-fade.delay-2 {
    transition-delay: 0.75s; }
  .animate-fade.delay-3 {
    transition-delay: 1s; }
  .animate-fade.delay-4 {
    transition-delay: 1.25s; }
  .animate-fade.delay-5 {
    transition-delay: 1.5s; }
  .animate-fade.delay-6 {
    transition-delay: 1.75s; }
  .animate-fade.animated {
    opacity: 1; }

.animate-fade-up {
  transform: translateY(48px);
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.5s; }
  .animate-fade-up.delay-none {
    transition-delay: 0s; }
  .animate-fade-up.delay-1 {
    transition-delay: 0.5s; }
  .animate-fade-up.delay-2 {
    transition-delay: 0.75s; }
  .animate-fade-up.delay-3 {
    transition-delay: 1s; }
  .animate-fade-up.delay-4 {
    transition-delay: 1.25s; }
  .animate-fade-up.delay-5 {
    transition-delay: 1.5s; }
  .animate-fade-up.delay-6 {
    transition-delay: 1.75s; }
  .animate-fade-up.animated {
    transform: translateY(0px);
    opacity: 1; }

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
